/* Colours:
Light Orange: C7493A
Red: A33327

Green: 689775

Blue: 7395AE

Black: 161616

Dark Beige: 917164
light Beige: AD8174


***************** NEW COLOUR SCHEME FOR REFACTORING ***********************

Black: 011627
White: fdfffc
Blue: 2ec4b6
Red: e71d36
Yellow: ff9f1c
*/


/* Defaults */
nav,
header,
footer {
    display: block;
}

body {
    line-height: 1;
    margin: 0;
    background-color: #161616;
}

body,
html {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

/* Background Image */
.bg {
    background-image: url(Images/Blue_n_Red.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg.container {
    position: relative;
    text-align: center;
    opacity: 1;
    font-size: 300%;
}

.bg h1 {
    color: #689775;
    text-shadow: #161616;
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Container */

.about.container {
    background-image: url(Images/Background.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Nav bar */
nav {
    width: 100%;
    margin: 0;
    line-height: 2;
}

ul.right-nav li a:hover {
    background-color: #ff9f1c;
    color: #011627;
}

ul.right-nav.responsive {
    position: absolute;
}

ul.right-nav.responsive li {
    display: inline;
    float: none;
}

ul.right-nav.responsive li a {
    display: block;
    text-align: center;
}

ul li hr {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #011627;
}

.moveOn {
    width: 90px;
    height: 90px;
    opacity: 0.6;
    margin: 0;
    background-color: #011627;
    right: 47%;
    top: 90%;
    position: absolute;
    border-radius: 100px;
}

.moveOn a {
    text-decoration: none;
}

.moveOn h1 {
    color: #fdfffc;
    text-align: center;
}

.moveOn:hover {
    opacity: 0.8;
}

/* Divider */
.divider {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* About Section*/
.about.container {
    padding-top: 150px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.aboutBox {
    background-color: #ff9f1c;
    height: 100%;
    border-radius: 100px;
}

.aboutBox.selfImage {}

/* Media Queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .right-nav {
        right: 0;
        top: 0%;
        margin-top: 10px;
        margin-right: 10px;
        width: 100px;
        position: fixed;
        background-color: #111;
        overflow-x: hidden;
        border-radius: 25px;
    }

    nav ul {
        background-color: #eee;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }

    ul.right-nav li {
        list-style: none;
        text-align: right;
    }

    ul.right-nav li a {
        padding: 8px 8px 8px 8px;
        text-decoration: none;
        font-size: 25px;
        background-color: #011627;
        color: #fdfffc;
        display: block;
        text-align: center;
    }

    .bg.container {
        width: 100%;
        height: 100%;
    }

    .bg.container {
        font-size: 200%;
    }

    .right-nav li:not(:nth-child(1)) {
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .right-nav {
        right: 0;
        top: 0%;
        margin-top: 10px;
        margin-right: 10px;
        width: 100px;
        position: fixed;
        background-color: #111;
        overflow-x: hidden;
        border-radius: 25px;
    }

    nav ul {
        background-color: #eee;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }

    ul.right-nav li {
        list-style: none;
        text-align: right;
    }

    ul.right-nav li a {
        padding: 8px 8px 8px 8px;
        text-decoration: none;
        font-size: 25px;
        background-color: #011627;
        color: #fdfffc;
        display: block;
        text-align: center;
    }

    .bg.container {
        font-size: 225%;
    }

    .right-nav li:not(:nth-child(1)) {
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .right-nav {
        right: 0;
        top: 50%;
        margin-top: -165px;
        margin-right: 10px;
        width: 100px;
        position: fixed;
        background-color: #111;
        overflow-x: hidden;
        border-radius: 25px;
    }

    nav ul {
        background-color: #eee;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }

    ul.right-nav li {
        list-style: none;
        text-align: right;
    }

    ul.right-nav li a {
        padding: 8px 8px 8px 8px;
        text-decoration: none;
        font-size: 25px;
        background-color: #011627;
        color: #fdfffc;
        display: block;
        text-align: center;
    }

    .bg.container {
        font-size: 250%;
    }

    .right-nav li:nth-child(1) {
        display: none;
    }

    .right-nav li:not(:nth-child(1)) {
        display: block;
    }

    ul.right-nav.responsive li:nth-child(1) {
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .right-nav {
        right: 0;
        top: 50%;
        margin-top: -165px;
        margin-right: 10px;
        width: 100px;
        position: fixed;
        background-color: #111;
        overflow-x: hidden;
        border-radius: 25px;
    }

    nav ul {
        background-color: #eee;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }

    ul.right-nav li {
        list-style: none;
        text-align: right;
    }

    ul.right-nav li a {
        padding: 8px 8px 8px 8px;
        text-decoration: none;
        font-size: 25px;
        background-color: #011627;
        color: #fdfffc;
        display: block;
        text-align: center;
    }

    .bg.container {
        font-size: 275%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .right-nav {
        right: 0;
        top: 50%;
        margin-top: -165px;
        margin-right: 10px;
        width: 100px;
        position: fixed;
        background-color: #111;
        overflow-x: hidden;
        border-radius: 25px;
    }

    nav ul {
        background-color: #eee;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }

    ul.right-nav li {
        list-style: none;
        text-align: right;
    }

    ul.right-nav li a {
        padding: 8px 8px 8px 8px;
        text-decoration: none;
        font-size: 25px;
        background-color: #011627;
        color: #fdfffc;
        display: block;
        text-align: center;
    }

    .bg.container {
        font-size: 300%;
    }
}

/* Rows and columns*/
.row {
    display: flex;
    width: 100%
}

.row::after {
    display: block;
    clear: both;
    content: "";
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

* {
    box-sizing: border-box;
}
